@using Microsoft.AspNetCore.Routing
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- wypisywanie wszystkich zamowien i ich tworzenie -->
@model List<OrderDto>
<table class="content-wrapper table table-dark">
    <tr>
        <th scope="col">
            @Html.DisplayName("ID")
        </th>
        <th scope="col">
            @Html.DisplayName("Is done?")
        </th>
        <th scope="col">
            @Html.DisplayName("User")
        </th>
        <th></th>
    </tr>
    @foreach (OrderDto dto in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => dto.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dto.isDone)
            </td>
             <td>
                @Html.DisplayFor(modelItem => dto.User.Username)
            </td>
            <td>
                @Html.ActionLink("Add Products", "AddProduct", "Order", new { id = dto.Id })
            </td>
            <td>
                @Html.ActionLink("Products", "products", "Order", new { id = dto.Id })
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Order", new { id = dto.Id }))
                {
                    <input class="btn btn-outline-danger" type="submit" value="Delete Item" />
                }
            </td>
        </tr>
    }
</table>
@using (Html.BeginForm("Create", "Order", FormMethod.Post))
{
    <input type="submit" class="button" value="Create new order" />
}